.page_about


  %p.page_about_content
    Ivano-Frankivsk IT Students – це спільнота людей, зацікавлених в ІТ-сфері, які є або були, або відчувають себе студентами ІТ-шниками. Наша мета - зібрати людей пов'язаних з ІТ: від тих хто ще готуються до залучення в сферу ІТ, хочуть, але не знають кого спитати, до тих, хто вже пов'язаний з ІТ певний час, і готовий поділитись своїми знаннями з іншими. 
  %p.page_about_content
    На цьому сайті та в групі у VK завжди можна знайти цікаву інформацію зі світу інформаційних технологій. Спільнотою регулярно проводяться тематичні зустрічі, про які завжди можна дізнатися в однойменному розділі цього сайту.  
  %p.page_about_content
    Під патронатом Softserve, Eleks, Softjourn та ВНЗ Івано-Франківська група існує з середини 2010 року. Наш девіз - "Колишніх студентів не буває". 
  %p.page_about_content
    Ми будемо надзвичайно раді побачити Вас в наших колах. З нами Ви матимете нагоду набратись нових знань та поділитись знаннями з учасниками групи. 
  %br
  .work  
    %ul
      %li Над створенням веб-сторінки працювали:
      %li Олександр Томащук
      %li Тарас Гоголь
      %li Михайло Смерек
      %li Вікторія Поволоцька