.page_step2  
  %h3 Навчання:
  .list_style
    %ul
      %li Досвід роботи з Ruby on Rails
      %li Навики роботи з GIT
      %li Досвід роботи на Mac/Linux
      %li JavaScript
      %li JQuery
      %li CSS
      %li HTML5
      %li MySQL
      %li RubyGems
      %li RSpec
      %li English level – intermediate
  %br
  %a{:href => "/step3"}
    %input{type: "submit", value: "Далі"}/