.page_step2
  .mail
    %h3 Надіслати своє резюме сюди:
    %a{href: "mailto:hr-ua@softjourn.com"} hr-ua@softjourn.com 
    %br
    %a{href: "mailto:hr@softserveinc.com"} hr@softserveinc.com
    %br
    %a{href: "mailto:job@eleks.com"} job@eleks.com
