.page_step1
	.step1-content
		%h2 Виберіть всій напрям:
		%a{:href => "#"}
			%input{type: "submit", value: "Java"}/
		%a{:href => "#"}	
			%input{type: "submit", value: ".NET"}/
		%a{:href => "/step2"}
			%input{type: "submit", value: "Ruby"}/
		%a{:href => "#"}
			%input{type: "submit", value: "JavaScript"}/
		%a{:href => "#"}
			%input{type: "submit", value: "HTML 5 / CSS 3"}/
		%a{:href => "#"}
			%input{type: "submit", value: "DevOps"}/
		%a{:href => "#"}
			%input{type: "submit", value: "iOS"}/
		%a{:href => "#"}
			%input{type: "submit", value: "Android"}/
		
